{% extends 'librarymanager/basic.html' %}
{% block title %} Manage Books {% endblock %}
{% block head %}


<link href="http://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet"/>   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"/>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




{% endblock %}



{% block body %}
{% load lib_tags %}
<table id="dtBasicExample" class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Request ID</th>
          <th scope="col">Book Title</th>
          <th scope="col">Student Name</th>
          <th scope="col">Student ID</th>
          <th scope="col">Email ID</th>
          <th scope="col">Request Date</th>
          <th scope="col">Duration</th>
          <th scope="col" align="center">Action</th>
         
        </tr>
    </thead>
    <tbody>
          {% for t in temp %}
            <tr>
              <td>{{t.0}}</td>
              <td>{{t.1}}</td>
              <td>{{t.2}}</td>
              <td align="center">{{t.3}}</td>
              <td>{{t.4}}</td>
              <td align="center">{{t.5}}</td>
              <td>{{t.6}} Days</td>
              <td>
                <a href="" class="btn btn-outline-success">
                    Approve           
                </a>
               
                <form action= "{% url 'deleterequest' t.0 %} " method = "POST" class="d-inline">
                    {% csrf_token %}
                   
                    <input type="submit" class="btn btn-outline-danger" value="Decline">
                    
                    
                </form>
              </td>
                
          </td>

              <!-- <td></td> -->
            </tr>
            {%endfor%}
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $('#dtBasicExample').dataTable();
    });

</script>

{% endblock %}
